body {
    background-image: url('trapperbg.png');
    background-size: cover;
    color:white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0px;
}

nav {
    background-color: rgba(0, 0, 0, 0.429); 
    display: flex;
    justify-content: space-between;
    padding: 10px 2%;
    align-items: center;
}

.logo {
    color: white;
    font-size: 32px;
}

#top-menu button, #top-menu a {
    background-color: rgb(45, 45, 45);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: white;
    padding: 5px 30px;
    border-color: black;
    border-width: 5px;
    font-weight: bold;
    text-decoration: none;
}